body {
	width: 100%;
	height: 100vh; /*屏幕高度*/
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("../imags/bg.jpg") no-repeat;
	background-size: 100% 100%;
}

input::-webkit-input-placeholder { /* placeholder颜色  */
	color: #ffffff;
	/* placeholder字体大小  */
	font-size: 14px;
}

#login-box {
	width: 45rem;
	height: auto;
	/* height: 30rem; */
	background-color: #00000060; /*颜色的后两位是透明度*/
	text-align: center;
	padding: 2rem 4rem;
	/* padding-bottom: 0; */
}

#login-box h1 {
	font-size: 3rem;
	margin: 1rem 0;
	color: #ffffff;
}

#login-box .form {
	padding: 1rem 0;
}

#login-box .form .item input {
	color: #ffffff;
	width: 20rem;
	font-size: 18px;
	border-bottom: 2px solid #ffffff;
	padding: 0.5rem 1rem;
	margin-bottom: 1.5rem;
	background: transparent;
	/* color: #ffffff; */
}

#login-box .form .item i {
	font-size: 1.8rem;
	color: #ffffff;
}

#login-box button {
	width: 18rem;
	height: 3rem;
	font-size: 2rem;
	font-weight: 700;
	color: #ffffff;
	border-radius: 1.5rem;
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);;
}