*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
/*a部分*/
.a{
	width: 100%;
	height: 120px;
	font-size: 120%;
	margin-top: 10px;
}
.a_a{
	margin: 0px 15%;
	padding-top: 0;
}
/*大的ul*/
#a_a_ul{
	width: 100%;
	height: 30%;
	background-color: white;
	border-radius: 10px;    /*边框为圆形*/
	padding-top: 1%;
}
.a_a_ul_li{
	float:left;			/*并排显示*/
	list-style:none;	/*去掉前边的点*/
	width: 14.2%;
	text-align: center;
}
.a a{
	text-decoration: none;
	color: black;
}
/*小的ul*/
#zhuanlan li{
	list-style: none;
}
#zhuanlan{
	max-height: 28px;
	overflow: hidden;
	transition: 1s;
}
#zhuanlan:hover{
	max-height: 200px;                 /*最大高度*/
	transition: 1.5s;                    /*过度效果*/
	cursor:pointer;                          /* 鼠标改小手*/
	background-color: white;
	border-radius: 10px;    /*边框为圆形*/
}
.zhuanlan_item:HOVER{
	background: blue;
	color: white;
}
/*显示时间部分*/
#time_li{
	max-height: 28px;
	overflow: hidden;
	transition: 1s;
}
#time_li:hover{
	max-height: 100px;                 /*最大高度*/
	transition: 1.5s;                    /*过度效果*/
	cursor:pointer;                          /* 鼠标改小手*/
	background-color: white;
	border-radius: 10px;    /*边框为圆形*/
}


/*b部分*/
.b{
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
	transition: 1.5s;                    /*过度效果*/
}
/*b左边*/
.b_left{
	width: 20%;
	height: 400px;
	background-color: white;
	display: inline-block;
	border-radius: 10px;    /*边框为圆形*/
}
.b_left_top{
	width: 100%;
	height: 400px;
}
.b_left_top_img_div{
	width: 100%;
	height: 130px;
	background-image: url("../../img/blogsMainImg/001.jpg");
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	border-radius: 10px 10px 0 0;    /*边框为圆形*/
}
.b_left_top_touxiang_div{
	width: 100%;
	height: 150px;
	z-index: 10;
	text-align: center;
	margin-top: -45px;
}
#ice_cream{
	font-family: STCaiyun;
	font-size: 200%;
}
.b_left_top_tongji_div{
	width: 100%;
	height: 45px;
	text-align: center;
}
.tongji{
	width: 30%;
	display: inline-block;
}
.tongji_number_1{
	color: blue;
}
.tongji_number_2{
	color: red;
}
.tongji_number_3{
	color: violet;
}
.b_left_top_account_div{
	width: 100%;
	height: 120px;
	text-align: center;
}
.account{
	width: 30%;
	display: inline-block;
}
/*b中间*/
.b_center{
	width: 59%;
	display: inline-block;
	vertical-align:top;
}
.b_center a{
	text-decoration: none;
}
.b_blogs{
	width: 100%;
	height: 100px;
	background-color: white;
	color: black;
	border-radius: 10px;    /*边框为圆形*/
	filter:alpha(Opacity=95);-moz-opacity:0.99;opacity: 0.99;
	margin-bottom: 10px;
	transition: 1s;
}
.b_blogs:HOVER{
	background: black;
	color: white;
	width: 120%;
	z-index: 100;
	filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
	margin: 0 -10%;
	height: 120px;
	padding-top: 20px;
	transition: 1s;
}
.b_blogs_tittle{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 200%;
	padding-top: 10px;
}
.b_blogs_tongji{
	text-align: center;
	width: 100%;
	height: 30px;
}
.blog_time,.blogs_read,.blogs_likes{
	width: 30%;
	display: inline-block;
}
#tipsDiv{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 130%;
	font-weight: bold;
}

/*b右边*/
.b_right{
	width: 20%;
	height: 345px;/*310*/
	display: inline-block;
	vertical-align:top;
}
.b_right_muye{
	width: 100%;
	height: 25px;
	background-color: white;	
	border-radius: 10px;    /*边框为圆形*/
	padding: 5px;
	text-align: center;
	display: inline-block;
}
.b_right_gonggao{
	width: 100%;
	height: 100px;
	display: inline-block;
	background-color: white;	
	border-radius: 10px;    /*边框为圆形*/
	padding: 5px;
	text-align: center;
	margin-top: 10px;
}
.gonggao_tittle{
	width: 100%;
	height: 30px;
	font-size: 120%;
	border-bottom: gray solid 1px;
	margin-bottom: 5px;
}
.b_right_otherwork{
	width: 100%;
	height: 200px;
	display: inline-block;
	background-color: white;	
	border-radius: 10px;    /*边框为圆形*/
	margin-top: 10px;
	padding: 5px;
	text-align: center;
}
.otherwork_tittle{
	width: 100%;
	height: 30px;
	font-size: 120%;
	border-bottom: gray solid 1px;
	margin-bottom: 5px;
}
.otherwork_work{
	width: 100%;
	height: 165px;
}
.otherwork_subwork{
	display: inline;
	width: 33%;
}
.otherwork_subwork a{
	text-decoration: none;
	color: black;
}
#moneyImgWeiXin{
	position: absolute;
	margin-top: 35px;
	margin-left: -20px;
	display: none;
	transition: 1.5s;
}
#moneyImgAlipay{
	position: absolute;
	margin-top: -145px;
	margin-left: -20px;
	display: none;
	transition: 1.5s;
}
.mainPage{
	box-sizing: border-box;/*为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制*/
    min-height: 100%;
    padding-bottom: 45px;
}

/*返回顶部*/
.backTopDiv{
	position: fixed;
	right: 10px;
	bottom: 50px;
}

/*最底部footer部分*/
footer{
    height: 45px;
    margin-top: -45px;
    opacity: 0.5;
    background-color: black;
    text-align: center;
}